services:
  api:
    build: .
    container_name: task-manager-api
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/task_manager
      - JWT_SECRET=change_me_to_a_long_random_secret
      - JWT_EXPIRES_IN=7d
      - CORS_ORIGIN=*
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: task-manager-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
